<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/sadebar', book: @newbook, user: @book.user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody></tbody>
            <tr>
              <td>
                <%= link_to  user_path(@user.id) do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40' %><br>
                  <%= @book.user.name %>
                <% end %>
              </td>
              <td><%=link_to @book.title, book_path(@book.id) %></td>
              <td><%= @book.body %></td>
              <th><%= link_to "edit", edit_book_path(@book.id), class:'btn btn-sm btn-success' %></th>
              <th><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか?", class: 'btn btn-sm btn-danger'%> </th>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>